body {
    align: center ;
    margin: auto;
    max-width: 850px;
    background: red;
}

nav {
    font-family: verdana, Sans-Serif;
    font-size: 26px;
}

footer {
    padding-top:50px ;
}

.post {
    padding-bottom:20px ;
}
